<div style="text-align:center">
  <img alt="p4_logo" src="https://www.winningmoves.fr/shop/media/resized/430/320/catalog/category/Puissance4.png" width="600">
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center" id="register">
      <!-- <button id="signin" (click)="googleSignIn()">Google Sign-in</button> -->
      <p class="menuBtn" (click)="googleSignIn()">Google Sign-In</p>
      <!-- <button id="signout" (click)="signOut()">LogOut</button> -->
      <p id="signout" class="menuBtn" (click)="signOut()">LogOut</p>
    </div>
  </div>
</div>
