.btn {
    background-color: #D3D3D3;
    border: solid black 3px;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    width: 400px;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.imgLog {
    padding: 1em;
    width: 13em;
    border-radius: 8em;
}
.backProfile {
    margin-top: 2.5em;
    padding: 1em;
    background:rgba(0, 0, 0, 0.4)
}
.pseudo {
    padding-bottom: 0.6em;
    font-size: 1.7em;
    text-align: center;
    color: white;
    font-family: monospace;
    font-weight: bold;
}
.winRate {
    text-align: center;
    color: goldenrod;
    font-family: monospace;
    font-weight: bold;
}
