<div class="container">
  <div class="row  justify-content-center">
    <div class="col-10 text-center">
      <img class="logoP4" alt="p4_logo" src="https://www.winningmoves.fr/shop/media/resized/430/320/catalog/category/Puissance4.png">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5 text-center backLogo">
      <div>
        <img class="waitLogo" src="./assets/img/rocket-taking-off.gif" alt="logo please wait">
      </div>
      <p class="waitText">
        Please wait !
        <br/> Looking for an other player !
      </p>
    </div>
  </div>
  <div class="row  justify-content-center">
    <div class="col text-center">
      <p class="menuBtn" (click)="mainMenu()">Cancel</p>
    </div>
  </div>
</div>
